@use "./variables" as *;
body,
html {
  z-index: -9999px;
}
.adminbody{
  background-color: #f5f5f5;
}
a {
  display: block;
}
header.adminHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #ffffff;
  margin-top: 0 !important;
  & .logo {
    margin-left: 30px;
  }
  & .right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 36px;
    & .right-icon {
      position: relative;
      width: 20px;
      height: 20px;
      & .redPoint {
        position: absolute;
        top: -2px;
        right: 0;
      }
    }
    & .profile {
      width: 32px;
      height: 32px;
    }
  }
}
.home {
  display: flex;
  .sidebar {
    width: 16%;
    background-color: #ffffff;
    & .side-menu img {
      display: inline-block;
    }
  }
  .admin-right {
    width: 84%;
    height: calc(100vh - 70px);
  }
}
